body{
  margin: 0px;
}

div{
  display: block;
}

.flex{
  display: flex;
  align-content: center;
  justify-content: space-between;
align-items: center;
}
.clear{
  overflow: hidden;
}
ul {
  list-style: none;
}
/* ----------------header------------------- */
header {
  display: block;
}

header {
	height: 40px;
  background-color: rgba(255,206,0,1);
	padding: 25px;
  width: 100%;
  z-index: 99999999;
  box-sizing:content-box;
}

header::-ms-clear{
  content: "";
  clear: both;
  display: block
}

header ul{
	margin: 10px 0px;
}

header ul li{
	display: inline;
	color: #ffffff;
	font-size:13px;
	margin-right: 15px;
}

header btn{
	background-color: #ffffff;
	color:#3fa9f5;
	font-size: 14px;
	border-radius: 35px;
	letter-spacing: 0.115em;
	padding: 10px 25px;
}

.UpSighter-logo{
	height: 36px;
  margin-right: 10px;
}

.header-copy{
	font-size: 14px;
	color: #ffffff;
  margin: 8px;
}
.f-left{
  float: left;
}
/* -----------footer--------------------- */

.footer {
  background-color: rgba(255,206,0,1);
  margin-top: 5em;
  padding: 1em 10px;
}

.footer a {
  color: #fff
}

.footer ul {
  max-width: 1100px;
  text-align: right
}

.footer ul li {
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1;
  margin: 0 6px
}

.footer ul li:last-child {
  border-radius: 0;
  overflow: visible
}

.footer ul li img {
  height: 30px
}
/* ------------------main------------------ */
.form-group {
  padding: 12px;
  margin-bottom: 4px;
  border-radius: 4px;
  border-bottom: 1px solid #f9f9f9;
}


.label {
  width: 200px;
  display: table-cell;
  vertical-align: middle;
}

.right-box{
  width: 50%;
  float:right;
}
.left-box{
  width: 50%;
  font-size: 0.88em;
  float:left;
}
.talk__score{
  width:100%;
}
.form__radio {
  margin: 1em auto;
  text-align: left;
  margin: 0 auto 1.5em;
  padding: 1em;
  border: 1px solid #aaa;
  background-color: #fafafa;
  border-radius: 4px;
}

.form__radio::after{
  content: "";
  clear: both;
  display: block
}


/* 　ボタン */
.confirmation_btn {
  font-family: inherit;
  padding: 10px 30px;
  font-size: 16px;
  background: none;
  border-radius: 8px;
  border: none;
  background: #5d3fff;
  color: #fff;
  cursor: pointer;
  width: 50%;
  margin:5% auto;
}

.confirmation_btn:hover {
  opacity: .8;
}
.btn-back{
  background-color: red;
  color: white;

}


/* エラーメッセージ */
.error-message{
  color: red;
}